@page "/loss-entry"

@inherits LossEntryBase
<SfSpinner @bind-Visible="spinnerVisible" Label="Pushing Data..." Size="50" Type="SpinnerType.Bootstrap4" />
@if (WellRecords != null && WellRecords.Any())
{
    <button type="button" class="btn btn-primary" style="margin-bottom: 10px;" disabled="@spinnerVisible" @onclick="PushData">Push Data</button>
    <br/>
    <SfGrid DataSource="@GridData" AllowPaging="true" Toolbar="@(new List<string>() { "Add", "Edit", "Update", "Delete", "Cancel" })">
        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"/>
        <GridPageSettings PageSize="5"/>
        <GridColumns>
            <GridColumn IsPrimaryKey="true" Visible="false" Field=@nameof(LossWriteModel.Key) HeaderText="Key" />
            <GridColumn Field=@nameof(LossWriteModel.WellName) HeaderText="WellName">
                <EditTemplate>
                    <SfDropDownList DataSource="@WellRecords" TItem="WellReadModel" TValue="string"
                                    @bind-Value="@((context as LossWriteModel).WellName)">
                        <DropDownListFieldSettings Text="Name" Value="Name">
                        </DropDownListFieldSettings>
                    </SfDropDownList>
                </EditTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(LossWriteModel.EventName) HeaderText="EventName"/>
            <GridColumn Field=@nameof(LossWriteModel.LoosDate) HeaderText="LoosDate"/>
        </GridColumns>
    </SfGrid>
}